html, body{
	overflow-x: hidden;
	height: 100%;
	background: url('../images/background.gif') center top;
}
.sidebar{
	background-color: rgba(4, 29, 42, 0.92);
}
.sidebar .nav li.active > a{
	position: relative;
	background-color: #1681cf;
    font-family: 'OpenSans-Bold';
}
li.active a.nav-link.text-white.small::before {
    position: absolute;
    content: '';
    border-top: 17px solid transparent;
    border-bottom: 18px solid transparent;
    border-right: 15px solid white;
    right: 0px;
    bottom: 0px;
}