html, body{
	overflow-x: hidden;
	height: 100%;
}
.cien{
	height: 100%;
}
.ninos,
.senor{
	position: absolute !important;
}
.ninos{
	bottom: 5px;
	left: 13%;
}
.senor{
	bottom: 35px;
	right: 10%;
}
.logo{
	max-width: 320px;
}
.log{
	height: 100%;
	background: url('../images/franja-top.png') center top no-repeat, url('../images/franja-bottom.png') center bottom no-repeat;
	background-size: 100%;
}
.text-regular{
	font-family: 'Lato-Regular';
}
.text-light{
	font-family: 'Lato-Light';
}
.text-bold{
	font-family: 'Lato-Bold';
}
.text-black{
	font-family: 'Lato-Black';
}
.text-regular-o{
	font-family: 'OpenSans-Regular';
}
.text-light-o{
	font-family: 'OpenSans-Light';
}
.text-bold-o{
	font-family: 'OpenSans-Bold';
}
::-webkit-input-placeholder {
   color: gray !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: gray !important;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: gray !important; 
}

:-ms-input-placeholder {  
   color: gray !important; 
}